<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>このアプリはマイクを使用します</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>このアプリは音声認識を行います</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.905822345153-jfp9jhlpmg5tod11qtituvrcgvsqg58p</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
